* {
    margin: 0;
    padding: 0;
  }
  
  .signup-container {
    display: flex;
    height: 100vh;
  }

  .icon {
    height: 20vh !important;
    width: auto !important;
  }

  .left-section {
    background-image: url("../images/Signup.jpg"); /* Set the path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .signup-form {
    background-color: rgba(255,255,255,0.9); /* Adding a slightly transparent white background */
    flex: 1;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .link-decoration {
    text-decoration: none !important;
  
  }

  .msg-text-size {
    font-size: small;
  }
  
  @media (min-width: 768px) {
    .left-section {
      display: flex;
      background-size: 100% auto; /* Adjust the left-section image width to keep aspect ratio */
    }

    .signup-form {
      padding: 20px;
    }

    .box {
      width: 70%;
    }
  }
  